<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div></div>
</body>

<script type="module">
    import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
    const socket =io();

    const div = document.querySelector("div");
    socket.on("message", (message)=>{
        div.innerHTML = "";
        message.forEach(file=>{
            const img = document.createElement("img");
            img.setAttribute("src", `/${file}`);
            div.append(img)
        })
    })

</script>
</html>